<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>validaradministrador</servlet-name>
        <servlet-class>controlador.validaradministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladoradministrador</servlet-name>
        <servlet-class>controlador.controladoradministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validarcliente</servlet-name>
        <servlet-class>controlador.validarcliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorcliente</servlet-name>
        <servlet-class>controlador.controladorcliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladortrabajador</servlet-name>
        <servlet-class>controlador.controladortrabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorreporte</servlet-name>
        <servlet-class>controlador.controladorreporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorreportes</servlet-name>
        <servlet-class>controlador.controladorreportes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validaradministrador</servlet-name>
        <url-pattern>/validaradministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladoradministrador</servlet-name>
        <url-pattern>/controladoradministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validarcliente</servlet-name>
        <url-pattern>/validarcliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorcliente</servlet-name>
        <url-pattern>/controladorcliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladortrabajador</servlet-name>
        <url-pattern>/controladortrabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorreporte</servlet-name>
        <url-pattern>/controladorreporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorreportes</servlet-name>
        <url-pattern>/controladorreportes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
